OPENAI_API_KEY=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
SCRAPEDO_KEY=1b271062b8244d39b8359b9a8b0209d091475bd91d4
